.Rhistory
.RData
.Rproj.user
*.Rproj
_bookdown_files/
data/FLAMES_out/gene_count.csv
data/background/gene_count.csv
data/gencode.v47.annotation.gtf
data/FLAMES_out/oarfish.count.mtx
data/FLAMES_out/isoform_annotated.gtf
data/FLAMES_out/isoform_annotated_unfiltered.gtf
data/remove_unknownstrand_classification.txt
data/
output_files
bookdownproj_cache/
06_Trajectory.Rmddddd
code_notes.txt
Day_55.rds
Day_55_sctype_db_sctype_genes.pdf
multi_sctype_db_sctype_genes.pdf
images/Multi-sample_tutorial_top_genes_pseudotime.pdf
images/Multi-sample_tutorialmonocle_top_genes_pseudotime.pdf
Radial_glia_GABA_neurons.gtf
aSwitchList_ORF.rds
plots_for_flames_v2_paper.R
